:root {
  font-family: sans-serif;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(5, 39, 85, 0.87);
  background-color: #242424;
  background-image: url("https://images.unsplash.com/photo-1664574654578-d5a6a4f447bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 1rem;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(255, 255, 255, 0.5);
  font-size: 16px;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.nav-header {
  height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;

  background-color: rgb(255, 255, 255, 0.5);
}

.nav-header > p,
.nav-header > a {
  color: rgba(5, 39, 85, 0.87);

  margin-right: 15px;
  font-weight: 900;
}

.nav-header > a:hover {
  color: #535bf2;
}

.primary-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.primary-content > h4 {
  margin: 0;
  letter-spacing: 3px;
  padding-top: 100px;

  color: rgba(5, 39, 85, 0.3);
}

.primary-content > h1 {
  margin: 0;
  padding-top: 1.5rem;
  margin-inline: 1.5rem;
}

.primary-content-time {
  position: relative;
  font-size: 4rem;
  color: chocolate;

  margin-top: 3rem;
  padding: 3rem 4.2rem 4.2rem 4.2rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.primary-content-time-text {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 0;
  color: rgba(5, 39, 85, 0.3);
}

.days {
  position: absolute;
  bottom: 30px;
  left: 75px;
}

.hours {
  position: absolute;
  bottom: 30px;
  left: 225px;
}

.minutes {
  position: absolute;
  bottom: 30px;
  left: 365px;
}

.seconds {
  position: absolute;
  bottom: 30px;
  left: 505px;
}


@media screen and (width < 680px) {
  a, p {
    font-size: 0.8rem
  }
  .primary-content > h1 {
    font-size: 2.8rem;
  }

  .primary-content-time {
    font-size: 2.2rem;
    margin-top: 1.5rem;
   padding: 1.5rem 2.2rem 2.2rem 2.2rem;
  }
  
  .primary-content-time-text {
    font-size: 1rem;
  }

  .days {
    position: absolute;
    bottom: 15px;
    left: 40px;
  }
  
  .hours {
    position: absolute;
    bottom: 15px;
    left: 120px;
  }
  
  .minutes {
    position: absolute;
    bottom: 15px;
    left: 200px;
  }
  
  .seconds {
    position: absolute;
    bottom: 15px;
    left: 275px;
  }
}